@import url(../CSS/sanitize.css);

body{
    background-color: #222222;
}

header{
    padding: 30px 0;
    font-size: 20px;
}
nav ul{
    list-style: none;
    text-align: center;
}

nav a{
    display: inline-block;
    color: white;
    padding: 0 20px;
    text-decoration: none;
}
.people-list{
    margin: 30px 60px 80px;
    border: solid 5px #333333;
    box-shadow: 0 0 45px 0 rgba(255, 255, 255, 0.5);
    background: linear-gradient(115deg, transparent, transparent 49%, #333333 49.5%, #333333 50%, transparent 50%, transparent); 
}

.people-list:hover{
    transition: 0.5s;
}

.people{
    display: inline-block;
    padding: 150px;
    opacity: 0.1;
}
.people:hover{
    transition: .7s;
    opacity: 1;
}

.people h3{
    color: white;
}
.people img{
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, .5);
    width: 300px;
    height: auto;
}
.people img:hover {
    transition: 0.5s;
    box-shadow: 0 0 65px 0 rgba(255, 255, 255, .7);
}

.first{
    text-align: center;
}

footer{
    background-color: darkgrey;
    bottom: 100%;
}

@media only screen and (min-width: 700px) and (max-width: 1330px){
    .people{
        padding: 100px;
    }

    .people-list{
        background: none; 
    }
}

@media only screen and (max-width: 700px){
    .people{
        padding: 70px;
        opacity: 1;
    }
    .people-list{
        background: none; 
    }

    .people img{
        width: 200px;
        box-shadow: none;
    }
    .people img:hover {
        box-shadow: none;
    }
}