@import url(./sanitize.css);

 
.shop ul{
    list-style: none;
    display: inline-block;
}

.shop-category{
    border-radius: 20%;
}

.izakaya{
    background-color: #99FF99;
    box-shadow: 0 0 5px 1px #ccc; 
}

.shop-name{
    text-align: center;
}

.shop-address{
    text-align: left;
}

.shop-special{
    text-align: center;
}
#search{
    padding-left: 20px;
}